<ion-content class="ion-padding">
  <ion-icon name="close" (click)="dismissModal()"></ion-icon>
  <img src="assets\contact.svg" />
  <p>Update contact</p>
  <form [formGroup]="contactForm" (submit)="onSubmit(contactForm.value)">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item id="input" lines="none">
            <ion-label position="floating">Contact Number</ion-label>
            <ion-input disabled="true" type="tel" formControlName="mobile"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationmessages.mobile">
              <div class="error-message"
                *ngIf="contactForm.get('mobile').hasError(validation.type) && (contactForm.get('mobile').dirty ||contactForm.get('mobile').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item id="input" lines="none">
            <ion-label position="floating">Date</ion-label>
            <ion-datetime displayFormat="D MMM YYYY H:mm" formControlName="date"></ion-datetime>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationmessages.date">
              <div class="error-message"
                *ngIf="contactForm.get('date').hasError(validation.type) && (contactForm.get('date').dirty ||contactForm.get('date').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item id="input" lines="none">
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationmessages.name">
              <div class="error-message"
                *ngIf="contactForm.get('name').hasError(validation.type) && (contactForm.get('name').dirty ||contactForm.get('name').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-textarea type="text" formControlName="description">Description</ion-textarea>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationmessages.description">
              <div class="error-message"
                *ngIf="contactForm.get('description').hasError(validation.type) && (contactForm.get('description').dirty ||contactForm.get('description').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-button expand="block" type="submit">Submit</ion-button>
    </ion-grid>
  </form>
</ion-content>